# src/tokenizer/
data/
.vscode/


# Do not upload evaluation pipeline.
evaluation-pipeline-2024/
caption_data/

cc_3m_training_exists/

# ignore env folder
env/

src/datasets/GCC-1.1.0-Validation.tsv
src/datasets/Train-GCC-training.tsv

src/datasets/__pycache__
src/models/__pycache__